
div#root main.acceso{
    grid-template-rows: 8rem 1fr;
    align-items: center;
}


section#registro,section#acceso, section#home {
    text-align: center;
    justify-self: center;
   
}
section#registro form h2,section#acceso form h2 {
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 1rem;
}
section#registro form fieldset,section#acceso form fieldset  {
    border: none;
    margin-bottom: 1rem;
}
section#registro form label,section#acceso form label {
    display: block;
}
section#registro form input,section#acceso form input {
    
}
section#registro form button,section#acceso form button {
}

section#registro form p {
    text-align: right;
}


