@import url('https://fonts.googleapis.com/css?family=Advent+Pro:600|Alegreya+Sans:500|Raleway:500i&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
:root{
    --dark:rgb(0, 0, 0);
    --white:rgb(255, 255, 255);
    --orange:rgb(207, 104, 66);
    --ko: #e92119;
    --ok: #3c8c20;
}
div#root,body{
    font-family: Raleway, sans-serif;
    
    
}
header h1  {
    margin-top: 0.5rem;
    text-align: center;
    color: whitesmoke;
}
h1{
    font-family:"Advent Pro";
    font-size: 2rem;
}
h2,h3,h4,h5,h6{
    font-family:"Alegreya Sans" ;
}

a,a:visited{
    text-decoration-line: none;
    color:inherit;
    font-size: 1rem;
    text-align: center;
    
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 10rem;
}
fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
button,
input,a {
    cursor: pointer;
    font-family: Raleway, sans-serif;
    border-radius: 1rem 1rem;
    
    
    
    
}
fieldset.form-control.ko {
    color: var(--ko);
}

fieldset.form-control.ok {
    color: var(--ok);
} 

span.errorMessage{
    box-sizing: border-box;
    font-size: 0.7rem;
    color: black;
}

li{
    list-style: none;
}


@media (min-width: 500px) {
    h1{
        font-size: 4rem;
    }
}

@media (min-width: 900px) {
    h1{
        font-size: 5rem;
    }
}