@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap&subset=cyrillic,cyrillic-ext,greek,latin-ext");

/* @import url("./routes/css/registro.css");
@import url("./routes/css/login.css"); */

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
:root{
    --dark:rgb(0, 0, 0);
    --white:rgb(255, 255, 255);
}
div#root {
    background-color:var(--white);
    color:var(--dark);
    font-family: "Press Start 2P", sans-serif;
    display: grid;
    height: 100vh;
    gap:1rem;
}
header img {
    margin: 0 auto;
    display: block;
    max-width: 4rem;
}

a{
    text-decoration-line: none;
}
a:visited{
    color: var(--dark);
}

button,
input,a {
    font-family: "Press Start 2P";
    color: var(--dark);
    border-image-outset: 2;
    border-image-slice: 2;
    border-image-width: 2;
    border-style: solid;
    border-color:var(--dark);
    border-width: 4px;
    border-image-source: url(../src/routes/img/borderbutton.svg);
    height: 1rem;
    font-size: 0.5rem;
    cursor: pointer;
}
footer{
justify-self: center;
}

footer img {
    margin: 1rem 0;
    display: block;
    max-width: 10rem;
    max-height: 5rem;
}